.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.login-form {
  width: 430px;
  max-width: 100%;
  padding: var(--spacing-larger);
  background: var(--dark-blue);
  border-radius: var(--border-radius-medium);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: var(--white);
}

.login-form h2 {
  margin-bottom: var(--spacing-large);
  font-size: var(--large-font);
}

.input-box {
  position: relative;
  margin-bottom: var(--spacing-large);
}

.input-box input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  color: var(--white);
  font-size: var(--medium-font);
}

.input-box label {
  position: absolute;
  top: 50%;
  padding: 12px;
  left: 0;
  color: #ddd;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  font-size: var(--medium-font);
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  font-size: var(--medium-font);
  color: var(--blue);
}

.login-button {
  width: 100%;
  padding: 12px;
  background: var(--blue);
  border: none;
  border-radius: 6px;
  color: var(--white);
  font-size: var(--medium-font);
  cursor: pointer;
  transition: 0.3s;
  margin-top: var(--spacing-medium);
}

button:hover {
  background: var(--dark-blue);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.success-msg {
  color: #f8f8f8;
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
