// colors
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --dark-blue: #01294e;
  --light-blue: #2c74b3;
  --blue: #002b5f;
  --white: #fbfbfb;
  --orange: #d62828;
  --off-white: #ddd;

  //   font
  --headline: font-family: "Montserrat", sans-serif;
  --paragraph: font-family: "Karla", sans-serif;

  //   font size

  --small-font: 1.2rem;
  --medium-font: 1.6rem;
  --large-font: 2rem;
  --xlarge-font: 2.4rem;

  //   spacing
  --spacing-small: 0.4rem;
  --spacing-medium: 0.8rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 3.2rem;
  --spacing-larger: 4rem;

  // border radius

  --border-radius-small: 0.4rem;
  --border-radius-medium: 0.8rem;
  --border-radius-large: 1.6rem;
  --border-radius-xlarge: 3.2rem;

  // box shadow

  --box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  background-color: var(--dark-blue);
}
