.tasklist {
  width: 80%;
  margin: auto;
  .tasks {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--spacing-medium);
    .task {
      max-width: 30rem;
      padding: 1.5rem 2rem;
      background-color: var(--blue);
      border-radius: var(--border-radius-medium);
      box-shadow: var(--box-shadow);
      color: var(--white);
      flex: 1;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        .priority {
          padding: 0.2rem 0.3rem;
          font-size: var(--small-font);
          border-radius: var(--border-radius-small);
          background-color: var(--orange);
        }
        .date {
          font-size: var(--small-font);
        }
      }
      .task-title {
        font-size: var(--large-font);
        padding: 10px 0;
      }
      .task-description {
        font-size: var(--small-font);
        color: var(--off-white);
        margin: 1rem 0;
        line-height: 2rem;
      }
    }
  }
}
