.taskListNumber {
  width: 80%;
  margin: auto;
  .tasks {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
    flex-wrap: wrap;
    .task {
      background: var(--blue);
      flex: 1;
      min-width: 20rem;
      width: 20%;
      padding: var(--spacing-large);
      border-radius: var(--border-radius-medium);
      color: var(--white);
      box-shadow: var(--box-shadow);
      h1 {
        font-size: var(--xlarge-font);
        color: var(--orange);
        margin: var(--spacing-medium) 0;
      }
      h2 {
        font-size: var(--large-font);
      }
    }
  }
}
